
* {
	 box-sizing: border-box; 
}

body {
	font-family: Arial;
	padding: 10px; 
	background: #f1f1f1;  /* ili #f0f2f5 */  
}

/* Header/Blog Title */
.header {
	position: relative;
	text-align: center;
	background: black;
}

.pozicijaNaslova {
	position: absolute;
	top: 40%;
	left: 20%;
	transform: translate(-50%, -50%);
	color: white;
  }

.header h1 {
	font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
	overflow: hidden;
	background-color: #333;
}

/* Style the topnav links */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition-duration: 0.4s;
	cursor: pointer;
}

/* Change color on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
	float: left;
	width: 75%;
}

/* Right column */
.rightcolumn {
	float: left;
	width: 25%;
	background-color: #f1f1f1;
	padding-left: 20px;
}

/* navigacija za komponente */
.leftcomponent {   
	float: left;
	width: 20%;
}

/* mesto za componente*/
.rightcomponent {
	float: left;
	width: 85%;
	background-color: #f1f1f1;
	padding-left: 20px;
}

/* Fake image */
.restoranDiv {
	background-color: rgb(235, 235, 235);
	border-radius: 12px;
	width: 100%;
	padding: 20px;
	margin: 0px 0px 20px 0px;
}
	
.leftcolumnRestoran {   
	float: left;
	width: 150px;
}

/* Right column */
.rightcolumnRestoran {
	float: left;
	/*background-color: rgb(250,250,250);*/
	border-radius: 12px;
	padding-left: 20px;
}

.logoRestoranaCSS{
	background-color: rgb(0,0,0); /* ovo nam i ne treba  */
	border-radius: 12px;
	width: 120px;
	height: 120px;
}
	

/* Add a card effect for articles */
.card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Footer */
.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {   
	width: 100%;
	padding: 0;
	}
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
	.topnav a {
	float: none;
	width: 100%;
	}
}






/* css kod prikaza jednog restorana kod kupca */
.sredinacolumn {
	float: left;
	/*background-color: rgb(250,250,250);*/
	border-radius: 12px;
	padding-left: 20px;
}

.mapaDesnaStranaPrikazRestorana{
  float: right;
  width: 160px;
  height: 160px;
  
	background-color: rgb(255,255,255);
	/*	
	border-radius: 12px;
	padding-left: 20px;
	*/
}


.artikalDiv {
	background-color: rgb(235, 235, 235);
	border-radius: 12px;
	width: 100%;
	padding: 20px;
	margin: 0px 0px 20px 0px;
}

.slikaArtikla{
  	background-color: rgb(0,0,0); /* ovo nam i ne treba  */
	border-radius: px;
	width: 160px;
	height: 160px;
}

.leftcolumnArtikal {   
	float: left;
	width: 200px;
}

/* Right column */
.rightcolumnRestoran {
	float: left;
	/*background-color: rgb(250,250,250);*/
	border-radius: 12px;
	padding-left: 20px;
}

.cenaiKolicina{
  float: right;
  height: 80px;
  /* border-radius: 12px; */
  /* background-color: rgb(255,255,255); */
}


/* deo za okmentare */
.komentarlDiv {
	background-color: rgb(235, 235, 235);
	border-radius: 12px;
	width: 100%;
	padding: 20px;
	margin: 0px 0px 20px 0px;
}

.leftcolumnkomentar {   
	float: left;
	width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
	border-radius: 20px;
    padding: 12px 0px 0px 18px;
    font-size: 25px;
}

.autorDesno{
  float: right;
}






/* CSS KOJI KORISTIMO KOD KORPE */

.zagavljeRestoranaUKorpi {
	border-style: solid;
	border-radius: 13px;
	background-color: rgb(225,225,225);
	border-color: rgb(225,225,225);
  }
  
  .logoRestoranaUkorpiCSS{
		background-color: rgb(0,0,0); /* ovo nam i ne treba  */
	  border-radius: 12px;
	  width: 80px;
	  height: 80px;
  }
  
  .leftcolumnRestoranUKorpi{
		float: left;
	  width: 90px;
  }
  
  .artikalDivUKorpi {
	   background-color: rgb(235, 235, 235);
	  border-radius: 4px;
	  width: 85%;
	  
	  padding: 0px;
	  margin: 0px 0px 20px 0px;
  }
  
  .leftcolumnArtikalUKorpi {   
	  float: left;
	  width: 120px;
  }
  
  .sredinacolumnUKorpi {
	  float: left;
	  /*background-color: rgb(250,250,250);*/
	  padding-left: 10px;
  }
  
  
  .cenaiKolicinaUKorpi{
	  float: right;
	  height: 80px;
	  padding: 10px;
  }
  
  .slikaArtiklaUKoripi{
	  background-color: rgb(0,0,0); /* ovo nam i ne treba  */
	  border-radius: 0px;
	  width: 100;
	  height: 100px;
  }
  




  /* BUTTONI  */
  .potvrdanButton {
	background-color: white; /* Green */
	border: 2px solid #4CAF50;
	color: black;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 3px;
  }
  .potvrdanButton:hover {
	background-color: #4CAF50;
	color: white;
  }

  .potvrdanButtonMali {
	background-color: white; /* Green */
	border: 2px solid #4CAF50;
	color: black;
	padding: 1px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 3px;
  }
  .potvrdanButtonMali:hover {
	background-color: #4CAF50;
	color: white;
  }


  .oprezanButton{
	  background-color: white;
	border: 2px solid red;
	color: black;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 3px;
  }
  .oprezanButton:hover {
	background-color: red;
	color: white;
  }

  .oprezanButtonMali{
	background-color: white;
  border: 2px solid red;
  color: black;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
}
.oprezanButtonMali:hover {
  background-color: red;
  color: white;
}

  .standardanButton {
	background-color: white; /* Green */
	border: 2px solid #0044c2;
	color: black;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 3px;
  }

  .standardanButton:hover {
	background-color: #0044c2;
	color: white;
  }




  button {
	background-color: white; /* Green */
	border: 2px solid #0044c2;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 3px;
  }

  button:hover {
	background-color: #0044c2;
	color: white;
  }




  /*  sredjivanje komponente menija */


  /* DODATO ZA MENI */
.vertical-menu {
	width: 100%;
  }
  
  .vertical-menu button {
	background-color: #333;
	color: white;
	border: 0px;
	padding: 12px;
	text-decoration: none;
	display: block;
	width: 100%;
  }
  
  
  .vertical-menu button.active {
	background-color: rgb(150,150,150);
	color: white;
  }



  .Meni {   
	float: left;
	width: 15%;
}

.cardMenu {
	background-color: white;
	padding: 8px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.buttonUMeniju {
	background-color: white; /* Green */
	border: 2px solid #0044c2;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px 4px 0px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 3px;
  }

  .buttonUMeniju:hover {
	background-color: #ddd;
	color: black;
  }









  

/* deo potreban za porudbine kod kupca */
.porudbineDiv {
	background-color: rgb(235, 235, 235);
	border-radius: 12px;
	width: 100%;
	padding: 20px;
	margin: 0px 0px 20px 0px;
}

.minijaturanTabela {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.minijaturanTabela td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.minijaturanTabela tr:nth-child(even) {
  background-color: #dddddd;
}


.komentarInput {
	width: 100%;
	height: 80px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
  }




  /* CSS za forme login i registracija */
  
  .inputKredencijali {
	width: 300px;
	margin:5px 0;
	padding:10px;
	border-radius:20px;
	border: 2px solid #eee;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
	}
  
  .inputKredencijali:focus{
	background: #FCFCFC;
	outline: none;
	
  }
  
	.buttonLogin {
	padding:10px;
	border:none;
	background-color:#2ECC71;
	color:#fff;
	font-weight:600;
	border-radius:20px;
	width:300px;
  }

  .buttonSettings {
	padding:10px;
	border:none;
	background-color:rgba(0,0,0,0.06);
	color:#333;
	font-weight:600;
	width:300px;
  }
  
  .buttonLogin:hover{
	background: #333;
  }
  
  .selectKredencijali{
	width: 300px;
	margin:5px 0;
	padding:10px;
	border-radius:10px;
	border: 2px solid #eee;    
	  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
	}
  
  .selectKredencijali:focus{
	outline: none; 
  }
  
  .datapicker{
	width: 300px;
	height: 35px;
	border-radius:3px;  
	border: 2px solid #eee; 
	box-shadow:0 0 0 4px rgba(0,0,0,0.06);
	text-align:right;
	margin:5px 0;
	padding: 10px;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }
  
  .optionComboKredencijali{
	border-radius: 10px;
  }
  



  /* TEST DA L VALJA */

  input {
	margin:5px 0;
	padding:5px;
	border-radius:10px;
	border: 2px solid #eee;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
	outline: none;
	}
  
  input:focus{
	outline: none;
	
  }

select{
	margin:5px 0;
	padding:5px;
	border-radius:10px;
	border: 2px solid #eee;    
	  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
	}


.map{
	width: 250px;
	height: 160px;
}