.nasaTabela {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

.artikliTabela{
  width: 100%;
}

.nasaTabela td, .artikliTabela th {
    font-size: 1em;
    border: 1px solid #363636;
    padding: 3px 7px 2px 7px;
}

.nasaTabela th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #3d3d3d;
    color: #ffffff;
}

.nasaTabela tr.alt td {
    color: #000000;
    background-color: #adadad;
}

.nasaTabela tr:hover {
	 background-color: #c4c4c4;
	 cursor: pointer;
}

.nasaTabelatr .selected {
	 background-color: #aaaaaa;
}

.nasaTabela label {
	width:150px;
	display:inline-block;
}
