<!DOCTYPE html>
<html>
<head>
<title>Web Projekat</title>
<link href="css/homeCss.css" rel="stylesheet" type="text/css"/>
<link href="css/tabeladizajnCSS.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div id="initialDiv">

	<div class="topnav">
	  <a href="#/">Pocetna</a>
	  <a href="#/">Pomoc</a>
	  <a v-if="ulogovaniKorisnik.uloga=='ADMINISTRATOR'" href="#/administrator">Admin</a>
	  <a v-if="ulogovaniKorisnik.uloga=='MENADZER'" href="#/menadzer">Menadzer</a>
	  <a v-if="ulogovaniKorisnik.uloga=='DOSTAVLJAC'" href="#/dostavljac">Dostavljac</a>
	  <a v-if="status=='neUlogovan'" href="#/registracija" style="float:right">Registracija</a>
	  <a v-if="status=='neUlogovan'" href="#/login" style="float:right">Login</a>
	  <a v-if="status=='ulogovan'" href="#/" v-on:click="logout" style="float:right">LogOut</a>
	  <a v-if="status=='ulogovan'" href="#/korpa" style="float:right">Korpa</a>
	  <a v-if="status=='ulogovan'" href="#/profil" style="float:right">{{ulogovaniKorisnik.korisnickoIme}}</a>
	</div>	
	
	<div class="header">
	  <h1>Donesi Hranu</h1>
	  <p>Servis za online narucivanje hrane i dostavu.</p>
	</div>

	<router-view></router-view>
	
	<div class="footer">
	  <h2>Web Projekat</h2>
	</div>

</div>
<!-- Potrebne biblioteke -->

<script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
<script src="skripte/vue.js"></script>
<script src="skripte/vue-router.js"></script>
<script src="skripte/axios.js"></script>
<script src="skripte/jquery.min.js"></script>
<script src="skripte/toast.js"></script>

<!-- Nase skripte -->

<script src="js/kupac/porudzbineKupac.js"></script>
<script src="js/dostavljac.js"></script>
<script src="js/komentari.js"></script>
<script src="js/profil.js"></script>
<script src="js/restorani.js"></script>
<script src="js/login.js"></script>
<script src="kupac/prikazRestorana.js"></script>
<script src="js/registracija.js"></script>
<script src="kupac/korpa.js"></script>
<script src="js/app.js"></script>
<script src="administrator/korisnici.js"></script>
<script src="administrator/registracijaRestorana.js"></script>
<script src="menadzer/komponenta1.js"></script> 		<!-- izgleda ove komponente moraju pre menadzera -->
<script src="menadzer/artiklimenazdera.js"></script>
<script src="menadzer/menadzer.js"></script>
<script src="js/menadzer/zahteviDostavljaca.js"></script>
<script src="js/menadzer/porudzbineMenadzer.js"></script>
<script src="administrator/administrator.js"></script>
</body>
</html>