<!DOCTYPE html>
<html>
<head>
<title>Web Projekat</title>
</head>
<body>

<div id="loginDiv">
    <p>Korisnicko ime</p>
    <input type="text" v-model="korisnickoIme">
    <br>
    <p>Lozinka</p>
    <input type="password" v-model="lozinka">
    <br>
    <button v-on:click="loginKorisnik">Prijavi se</button>
</div>


<br>
<label>U slucaju da nemate nalog:</label>
<a href="registracijaKupac.html">
	<button v-on:click="loginKorisnik">Registrujte se</button>
</a>

<h2>Restorani:</h2>
<div id="restoraniDiv">

<label>Pretrazi restorane:</label>>
<input type="text" v_model="searchInput">
<button v-on:click="PretragaRestorana">Pretrazi</button>

<table>
	<tr bgcolor="lightgrey">
		<th>Naziv restorana</th>
		<th>Tip restorana</th>
		<th>Lokacija</th>
		<th>Logo</th>
		<th>Prosecna ocena</th>
	</tr>
	
	<tr v-for="s in restorani" v-on:click="odaberiRestoran(s)" v-bind:class="{selected : odabraniRestoran.naziv===s.naziv}">
		<td>{{s.naziv }}</td>
		<td>{{s.tipRestorana }}</td>
		<td>{{s.lokacija.adresa }}</td>
		<td><img src="{{s.logo }}"></td>
		<td>{{s.prosecnaOcena}}</td>
	</tr>
	</table>

</div>


<!-- Potrebne biblioteke -->
<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/axios.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/toast.js"></script>
<!-- Nase skripte -->
<script src="js/login.js"></script>
<script src="js/restorani.js"></script>
</body>
</html>