<!DOCTYPE html>
<html>
<head>
<title>Web Projekat</title>
</head>
<body>

<div id="loginDiv">
    <p>Korisnicko ime</p>
    <input type="text" v-model="korisnickoIme">
    <br>
    <p>Lozinka</p>
    <input type="password" v-model="lozinka">
    <br>
    <button v-on:click="loginKorisnik">Prijavi se</button>
</div>

<!-- Potrebne biblioteke -->
<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/axios.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/toast.js"></script>
<!-- Nase skripte -->
<script src="js/login.js"></script>
</body>
</html>