<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1>Pocetna stranica</h1>
<div id="logindiv">

<form method="post">

<label>Korisnicko ime:</label>
<input type="text" v-model="korisnickoIme">
<label>Lozinka:</label>>
<input type="hidden" v-model="lozinka">

<input type="submit" Value="Prijavi se">

<a href="rest/korisnici">korisnici</a>

</form>
</div>









<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>

<script src="js/axios.js"></script>
<script src="js/jquery.min.js"></script>

<script src="js/toast.js"></script>
<script src="app/login.js"></script>


</body>
</html>