<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div id="registracijaKupac">

<label>Korisnicko ime</label>
<input type="text" v-model="korisnickoIme"/><br>

<label>Ime</label>
<input type="text" v-model="ime"/><br>

<label>Prezime</label>
<input type="text" v-model="prezime"/><br>

<label>Datum rodjenja</label>
<input type="date" v-model="datumRodjenja"/><br>

<label>Pol:</label>
<select v-model="pol" >
  <option value = "MUSKI"> Muski</option>
  <option value = "ZENSKI"> Zenski</option>
</select><br>

<label>Lozinka:</label>
<input type="password" v-model="lozinka"/><br>

<button v-on:click="Registracija">Registruj se</button>

</div>

<!-- Potrebne biblioteke -->
<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/axios.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/toast.js"></script>
<!-- Nase skripte -->
<script src="js/registracija.js"></script>

</body>
</html>